/* toutes les bordures que tu vois c'est surtout pour me faire une idée des choses, pas un choix de design ^^ */

body{
   /* Pour avoir un minimum d'adaptation selon les résolution et tout et centrer un peu le tout */
  width: 80%;
  margin:auto;
}

header{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
nav ul{
  list-style-type: none; /*C'est pour enlever les puces */
}
li{
  display: inline;
  padding: 5pt;
}
form {
  display: inline; /* Pour aligner le champ de recherche avec les liens*/
}

.main_page {
  display: flex;
  justify-content: space-between; /*Pour que ça prenne bien toute la largeur du body*/
}

.main_content {
  border: 1px solid black;
  height: 1000px; /* Ligne qui sera sûrement supprimée juste pour voir ce que ça donnerait avec du contenu*/
  align-items: center;
}
.main_content:nth-child(1){
  flex: 1; /*ça c'est pour que le contenu principal prenne toute la place jusqu'à l'onglet des soldes*/
}
.main_content img{
  width: 150px;
  height: 150px;
}

#sales{
  border: 1px solid black;
  height: 1000px; /* Ligne qui sera sûrement supprimée juste pour voir ce que ça donnerait avec du contenu*/
}
#sales img{
  width: 50px;
  height: 50px;
}

footer{
  border: 1px solid black;
}
