*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}
body{
  background-color: #8cc6e0;
}
header{
  z-index: 1000;
  background-color: #6ca1c9;
  display: flex;
  justify-content: space-between;
  top: 0;
  width: auto;
  height: auto;
  /*box-shadow: 0px 0px 10px black;*/
  padding: 10px;
  align-items: center;
}
#icon{
  width: 40px;
  vertical-align: middle;
  margin-right: 5px;
}
#order{
  width: 15px;
}
li:hover{
  background-color: #707c8b;
}
a{
  text-decoration: none;
  color: black;
}
#search{
  margin-right: 15px;
}
nav ul{
  list-style-type: none; /*C'est pour enlever les puces */
}
li{
  display: inline;
  text-align: center;
  padding: 5pt;
  background-color: #a1b2c7;
  border-radius: 5px;
}
form{
  display: inline; /* Pour aligner le champ de recherche avec les liens*/
}
footer{
  background-color: #a1b2c7;
  text-align: center;
  bottom: 0;
  padding: 5px;
}
#global{
  display: flex;
  justify-content: space-between; /*Pour que ça prenne bien toute la largeur du body*/
  margin-top: 0px;
  margin-left: 5%;
  margin-right: 5%;
}
#main{
  display: inline;
  padding: 10px;
  width: 80%;
  text-align: justify;
}
#main h1, #main h2{
  margin: 10px;
}
#main #buy{
  background-color: #a1b2c7;
  display: block;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: auto;
}
#main #buy:hover{
  background-color: #707c8b;
}
#main #user_search{
	display: flex;
	flex-wrap: wrap;
}
#main .search_results{
  border: 1px solid black;
  margin: 5px;
  width: 280px;
  height: 330px;
}
.search_results{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search_results img{
  width: 100%;
  height: 50%;
  border-bottom: 1px solid grey;
}
.search_results p:nth-child(3){
  align-self: stretch;
}
.desc{
  font-size: 11px;
  margin: 5px;
}
.price{
  margin-top: 10px;
}
#sale{
  text-align: center;
  background-color: #7498a7;
  width: 20%;
  height: inherit;
  padding-left: 2px;
  padding-right: 2px;
  /*border-left: solid 1px black;*/
}
.art{
  width: 60%;
}
.container{
  position: relative;
}
.sale_icon{
  position: absolute;
  top: 40%;
  left: 60%;
  width: 20%;
}
#art_photo{
  width: 60%;
}
#art_container{
  text-align: center;
  margin: 20px;
}

@media all and (max-width:925px) {
  h1 {
    margin-bottom: 10px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 14.5px;
  }
  p {
    font-size: 14px;
  }
  header {
    display: flex;
    flex-direction: column;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  li {
    border-radius: 0;
  }
  li:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  li:nth-child(5) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #global {
    display: flex;
    flex-direction: column;
  }
  #main {
    display: block;
    margin: auto;
    width: auto;
  }
  #sale {
    width:auto;
    margin-bottom: 15px;
  }
  #sale hr {
    margin: 10px;
  }
  #sale h3 {
    font-size: 15px;
  }
  #inner_sale{
    display: flex;
    flex-direction: row;
  }
}
